
		html,body{
			overflow:hidden;
		}
        #canvasWrap {
            position:relative;
            margin:0 auto;
            width:100%;
            height:100%;
            border:1px solid #a7bdcc;
            background-color:#fff
        }
		.btn-group{
			position:absolute;
			right:50px;
			bottom:50px;
			z-index:2;
		}